<section id="main">  
    {{yield}}

</section>

<footer id="footer">  
    <span id="todo-count">
        <strong>{{incompletas}}</strong> {{label}}
    </span>
    <ul id="filters" style="margin-left: 10px;">
        <li>
            {{#link-to "todos.index" activeClass="selected"}}Todas{{/link-to}}
        </li>
        <li>
            {{#link-to "todos.incompleto" activeClass="selected"}}Em progresso{{/link-to}}
        </li>
        <li>
            {{#link-to "todos.completo" activeClass="selected"}}Completas{{/link-to}}
        </li>
    </ul>

</footer>
